h4{
	font-size: 2em;
}

a.faves{
	color: #419BF9;
	text-decoration:none;
}

#myService label{
	color:#419BF9;
	display: block;
	line-height:2;
	font-size: 1.5rem;
	margin:0;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items:center;
	align-items:center;
}

[contenteditable="true"]:focus{
	outline: 0px solid transparent;
  	-webkit-text-fill-color: #071F37;
  	padding-left: 1em;
  	border-radius:6px;
}

#inputnewPassword{
	border:1px solid #419BF9;
	border-radius:6px;
	line-height: 2;
	margin:1rem;
}

.tinyBTN{
	width:12rem;
	height:4rem;
	background-color: #419BF9;
	color:#fff;
	border:none;
	border-radius: 6px;
	padding:1rem;
	text-align:center;
	font-size:1.2rem;
	letter-spacing: 1.5px;
	cursor: pointer;
	margin:1rem;
}

.tinyBTN:focus{
	outline: none;
}

.tinyBTN:hover{
	background-color: #368DE7;
}

/*
  account setting
*/

/*set background style for info blocks*/
.block{
	width:80%;
	padding:2% 10%;
	background-color: #fff;
	border-radius: 12px;
	margin:0 auto;
	margin-bottom: 2%;
}

/*set gap between rows in table for account info*/
#accountInfo{
	border-spacing:0em 2em;
	width:80%;
}

#accountInfo tr{
	height:6rem;
}

.accountTitle{
	text-transform: uppercase;
	color:#419BF9;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.infoDetail{
	color:#3C4F63;
	font-size: 1.5rem;
	letter-spacing: 1px;
	padding-left: 1em;
}

#savePassword, #cancelPassword{
	width:12rem;
	height:4rem;
	display: inline-block;
	margin-left: 1em;
}

#cancelPassword{
	border-color: #419BF9;
	color:#419BF9;
}

.title{
	letter-spacing: 1px;
	display: block;
	color:#419BF9;
}

#myService form{
	color:#3C4F63;
	margin-top:1em;
}

.checkbox{
	display: block;
	margin:1.5rem 0;
}

.checkbox input{
	display: none;
}

.checkbox div{
	width:1.5rem;
	height:1.5rem;
	background-color: #f1f1f1;
	display: inline-block;
	border-radius: 3px;
	vertical-align: middle;
	margin-right: 1rem;
}

.selected{
	background: url('../img/selected.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

#myList.title{
	display: block;
}

#myService form{
	display: inline-block;
}

#myList ul, #recom ul{
	width:50%;
	color:#3C4F63;
	text-transform: capitalize;
	display: block;
	height: 20vh;
	overflow-y: scroll;
	margin: 2em 0;
	font-size: 1.5rem;
}

#myList ul li, #recom ul li{
	display: block;
	margin:0;
	line-height: 200%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items:center;
	justify-content: space-between;
	-webkit-justify-content:space-between;
}

#myList a, #recom a{
	color:#3C4F63;
}

#myList a:hover, #recom a:hover{
	color:#419BF9;
}

.delete, .add{
	display: inline-block;
}

.delete{
	width:8rem;
	height:2.4rem;
	background: url('../img/delete.png');
	background-repeat:no-repeat;
	background-size:90%;
	background-position: center;
}

.delete:hover{
	background: url('../img/delete_hover.png');
	background-repeat:no-repeat;
	background-size:90%;
	background-position: center;
}

.add{
	width:15rem;
	height:3rem;
	background: url('../img/add.png');
	background-repeat:no-repeat;
	background-size:90%;
	background-position: center;
}

.add:hover{
	background: url('../img/add_hover.png');
	background-repeat:no-repeat;
	background-size:90%;
	background-position: center;
}