body{
    background: #120C1E;
}

h1{
    color: #008044;
    font-family: 'VT323', monospace;
    font-size: 10em;
}
p{
    color:#FFFFFF;
}

.question{
    color: #5CC52B;
    font-size: 2.5em;
}

.yes{
    color: #D60A6C;
    font-size: 2.5em;
}

.no{
    color: #5D0057;
    font-size: 2.5em;
}

body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}