{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
        <title>DELPHI | Forgot Password</title>
    </head>

    <body>
        {% include "navigation.html" %}
        
        <div class="col-md-12 container">
            <h1 class="form-signin-heading">Welcome Back!</h3>
            <form class="form-group" action="/tbd/handleForgotPassword" method="post">{% csrf_token %}
                <input type="text" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                <div class="col-md-12"><button class="btn btn-lg btn-primary btn-block" type="submit">Send reset link</button></div>
            </form>

        </div>
    </body>
</html>