{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>Delphi Recommendation Engine</title>
        
    </head>
    <body>
        {% include "navigation.html" %}
        <main>
            <div class="row-sm-2" style="text-align:center;">
                <a target="_blank"><img src="{% static 'img/logo_900x600.png' %}" width="900px" height="600px"/></a>
            </div>
            <h1>Recommendation Engine</h1>
            <a href="/tbd/question"><button id="start">Get Started</button></a>
        </main>
    </body>
</html>