{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>DELPHI | Home</title>
    </head>
    <body>
        {% include "navigation.html" %}
        <main>
            <h1>Delphi</h1>
            <h3>Recommendation Engine</h3>
            <a href="/tbd/question"><button class="btn btn-primary" id="start">Get Started</button></a>
            <a href="/tbd/handleRandom"><button class="btn" id="random" style="margin:0 auto;display:block;margin-top:4rem;">Random Movie</button></a>
        </main>
    </body>
</html>