{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {% include "head.html" %}
        <title>Delphi Recommendation Engine</title>
        <script src="{% static 'js/shared.js' %}"></script>
    </head>
    <body style="background-color:#f8f8f8; height:100vh; overflow:hidden;">
        {% include "navigation.html" %}
        <div id="wrapper">
            <a onclick="addToFav(1)"><div id="fav"></div></a>
            
            <!--movie image-->
            <div class="row-sm-2" style="text-align:center;margin-top:-2rem;">
                <a href="{{movie.imdb}}" target="_blank"><img src="{{movie.poster}}" width="150px"/></a>
            </div>
        
            <h4 id="title">{{movie.title}}</h4>
            <h5 id="survey">Do you like this recommendation?</h5>
            <div class="buttons" >
                <button type="button" class="btn survey btn-up" onclick="submitResponse(1);">Yes</button>
                <button type="button" class="btn survey btn-down" onclick="submitResponse(-1);">No</button>
            </div>
        </div>
        <div class="buttons" style="width:24%">
            <a href="/tbd/question"><button class="btn btn-success" id="start" style="margin:1em">Start over</button></a>
            <a href="/tbd/handleRandom"><button class="btn btn-success" style="margin:1em">Random</button></a>
        </div>
        <script>

                $('#fav').click(function(){
                    $(this).css("background-image","url('/static/img/faved.png')");
                });
            
            $(".survey").click(function(){
                $(this).css({"background-color":"#419BF9","color":"#fff"});
                $(this).siblings().css({"background-color":"#CAD8E6","color":"#fff"});
            })
        </script>
        
    </body>
</html>