{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {% include "head.html" %}
        <title>Delphi Recommendation Engine</title>
        <script src="{% static 'js/shared.js' %}"></script>
    </head>
    <body>
        {% include "navigation.html" %}
        
        <h3 id="title" style="width:60%;">{{movie.title}}</h3>
        <div class="row-sm-3">
            <button type="button" class="btn btn-success" aria-label="Left Align" onclick="submitResponse(1)">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="false"></span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="submitResponse(-1)">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="false"></span>
            </button>
        </div>
        <div>.</div>
        <div>.</div>
        <div class="row-sm-2" style="text-align:center;">
            <a href="{{movie.imdb}}" target="_blank"><img src="{% static 'img/justWatch_logo.png' %}" width="15s0px"/></a>
        </div>
        <a href="/tbd/question"><button class="btn btn-primary">Start over</button></a>
        <a onclick="addToFav()"><button class="btn btn-primary">Add to favorites</button></a>
    </body>
</html>