{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {% include "head.html" %}
        <title>Delphi Recommendation Engine</title>
        <script src="{% static 'js/shared.js' %}"></script>
    </head>
    <body>
        {% include "navigation.html" %}
        
        <h3 id="title" style="width:60%;">{{movie.title}}</h3>
        <div class="row-sm-3">
            <button type="button" class="btn btn-up" aria-label="Left Align" onclick="changeGreen();submitResponse(1);">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="false"></span>
            </button>
            <script>
                function changeGreen() {
                    $(".btn-up").css("background-color","#5cb85c");
                    $(".btn-down").css("background-color","#aec1d6");
                }
            </script>
            <button type="button" class="btn btn-down" aria-label="Left Align" onclick="changeRed();submitResponse(-1)">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="false"></span>
            </button>
            <script>
                function changeRed() {
                    $(".btn-down").css("background-color","#d9534f");
                    $(".btn-up").css("background-color","#aec1d6");
                }
            </script>
        </div>
        <div>.</div>
        <div>.</div>
        <div class="row-sm-2" style="text-align:center;">
            <a href="{{movie.imdb}}" target="_blank"><img src="{% static 'img/justWatch_logo.png' %}" width="150px"/></a>
        </div>
        <a href="/tbd/question"><button class="btn btn-primary">Start over</button></a>
        <a href="/tbd/handleRandom"><button class="btn btn-primary">Random</button></a>
        <a onclick="changeText();addToFav(1)"><button class="btn btn-primary" id="fav">Add to favorites</button></a>
        <script>
            function changeText(){
                $("#fav").text("Added");
            }
        </script>
        
    </body>
</html>