{% load staticfiles %}


       <div class="navbar navbar-static-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a href="/tbd"><div id="logo"></div></a>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="nav navbar-right" >
              <ul class="nav navbar-nav">
                  {% if user.is_authenticated %}
                      <li><a href="/tbd/settings">{{user.username}}</a></li>
                      <li><a href="/tbd/handleSignOut">Sign Out</a></li>
                  {% else %}
                      <li><a href="/tbd/signin">Sign In</a></li>
                      <li><a href="/tbd/signup">Sign Up</a></li>
                  {% endif %}
              </ul>
          </div><!-- /.navbar-collapse -->
      </div>
