{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <title>DELPHI | Reset Password</title>
  </head>

  <body>
    {% include "navigation.html" %}
    
    <div class="col-md-12 container">
      <h1 class="form-signin-heading">Welcome Back!</h3>
      <form class="form-signin" action="/tbd/handleSignUp" method="post">{% csrf_token %}
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="New Password" required>
        <input type="password" id="inputPass" name="inputPass" class="form-control" placeholder="Confirm Password" required>
        <div class="col-md-12"><button class="btn btn-primary" value="{{random}}" type="submit">Reset Password</button></div>
      </form>

    </div>
  </body>
</html>