{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<html lang="en">
    <head>
        <title>Delphi | Settings</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/settings.css' %}">
        <script src="{% static 'js/shared.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body style="background-color: #f8f8f8;">
    	{% include "navigation.html" %}
        <main>
        	<div  class="block">
			<table id="accountInfo">
				<tr>
					<td class="accountTitle">email</td>
					<td class="infoDetail">{{user.email}}</td>
				</tr>
				<tr id="oldPassword">
					<td class="accountTitle">password</td>
					<td><button type="button" class="tinyBTN" id="changePassword">Change</button></td>
				</tr>
				<tr id="newPassword">
					<td class="accountTitle">new password</td>
					<td><input class="infoDetail password" id="inputnewPassword" style="-webkit-text-security: disc;"></td>
					<td><div class="tinyBTN" id="savePassword">Save</div>
					<div class="tinyBTN" id="cancelPassword">Cancel</div></td>
				</tr>
			</table>
			</div>

			<div class="form-group">
				<div id="myService" class="block">
					<h4 class="title" style="margin-bottom: 1rem;">My streaming service:</h4>
					<label class="checkbox-inline"><input type="checkbox" id="Amazon" value="Amazon" onclick="streamingData(0)" {% if amazon %}checked{% endif %}>Amazon</label>
					<label class="checkbox-inline"><input type="checkbox" id="AmazonPrime" value="AmazonPrime" onclick="streamingData(1)" {% if amazonPrime %}checked{% endif %}>Amazon Prime</label>
					<label class="checkbox-inline"><input type="checkbox" id="Netflix" value="Netflix" onclick="streamingData(2)"{% if netflix %}checked{% endif %}>Netflix</label>
					<label class="checkbox-inline"><input type="checkbox" id="Hulu" value="Hulu" onclick="streamingData(3)"{% if hulu %}checked{% endif %}>Hulu</label>
					<label class="checkbox-inline"><input type="checkbox" id="iTunes" value="iTunes" onclick="streamingData(4)"{% if itunes %}checked{% endif %}>iTunes</label>
					<label class="checkbox-inline"><input type="checkbox" id="GooglePlay" value="GooglePlay" onclick="streamingData(5)" {% if googlePlay %}checked{% endif %}>Google Play</label>
				</div>
			</div>

			<div id="myList" class="block">
				<h4 class="title">My Watch List</h4>
				<ul>
					{% for movie in favorites %}
						<li><a class="faves" href="{{movie.imdb}}" target="blank">{{movie.title}}</a><div onclick="addToFav(0, {{movie.id}})" class="delete"></div></li>
					{% endfor %}
				</ul>
			</div>

			<div id="recom" class="block">
				<h4 class="title">Recommendations</h4>
				<ul>
					{% for movie in previous %}
						<li><a class="faves" href="{{movie.imdb}}" target="blank">{{movie.title}}</a><div class="add"></div></li>
					{% endfor %}
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">deal pool</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">ghost in the shell</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">star trek</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">iron man</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">the theory of everything</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">jurassic park</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">transcendence</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">the lobster</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">star trek: beyond</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">zootopia</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">the martian</a><div class="add"></div></li>-->
					<!--<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">mad max: fury road</a><div class="add"></div></li>-->
				</ul>
			</div>
			<a href="/tbd" style="display:block;text-align:center;margin-bottom:6rem;"><button class="btn">Save</button></a>
			<!-- <button class="btn" onclick="deleteAccount()">Delete</button> -->
			<script>
				function deleteAccount() {
				    if (confirm("Do you really want to delete your account?") == true) {
						$.ajax({
            				url: '/tbd/handleDeleteAccount'
        				})
        				window.location.href = "/tbd";
				    }
				}
			</script>
		</main>
	</body>

	<script>
		$("#newPassword").hide();

		$("#changePassword").click(function(){
			$("#oldPassword").hide();
			$("#newPassword").show();
			$("#newPassword").click(function(){
				//validate old password
			});
			$("#cancelPassword").css({"border":"1px solid #419BF9","color":"#419BF9","background-color":"#fff"});
		});

		$("#savePassword").click(function(){
			password=$("#inputnewPassword").text();
			$("#newPassword").hide();
			$("#oldPassword").show();
			$("#currentPassword").text(password);
			//update password in bac-kend
		});

	$("#cancelPassword").click(function(){
		$("#newPassword").hide();
		$("#oldPassword").show();
		$("#currentPassword").text(password);
	});

    $("#myList").on("click",".delete",function(){
        $(this).parent().remove();
    });

	$(".add").click(function(){
		$(this).parent().append("<div class='delete'></div>");
		$(this).parent().appendTo('#myList>ul');
		$(this).parent().find(".add").remove();
		$('#myList>ul').scrollTop($('#myList>ul')[0].scrollHeight);
	});

	$(".checkbox>div").click(function(){
		$(this).toggleClass('selected');
	})


	</script>

</html>
