{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>
    </<head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {% include "head.html" %}
        <title>Delphi Recommendation Engine</title>
        <script src="{% static 'js/shared.js' %}"></script>
    </head>
    </<body style="background-color:#f8f8f8; height:100vh; overflow:hidden;">
        {% include "navigation.html" %}
        <div class="well well-sm" id="wrapper">
            <table class="table" id="account_info">
                <tbody>
                    <tr>
                        <td class="accountTitle">email</td>
                        <td class="infoDetail">{{user.email}}</td>
                    </tr>
                    <tr id="changePass" class="demo collapse in">
                        <td class="accountTitle">password</td>
                        <td><button type="tinyBTN" class="tinyBTN" data-parent=".table" data-toggle="collapse" data-target=".demo">Change Password</button></td>
                    </tr>
                    <tr id="changePass" class="demo collapse">
                        <td>
                            new password
        					<input class="infoDetail password" type="password" id="inputnewPassword">
    					    <button type="tinyBTN" class="tinyBTN" id="savePassword" onclick="updatePass(1)" data-parent=".table" data-toggle="collapse" data-target=".demo">Save</button>
    					    <button type="tinyBTN" class="tinyBTN" id="cancelPassword" data-toggle="collapse" data-parent=".table" data-target=".demo">Cancel</button>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        
    </body>
</html>