{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<html lang="en">
    <head>
        <title>Delphi | Settings</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {% include "head.html" %}
        <link rel="stylesheet" href="{% static 'css/settings.css' %}">
        <script src="{% static 'js/shared.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body style="background-color: #f8f8f8;">
    	{% include "navigation.html" %}
        <main>
			<table id="accountInfo" class="block">
				<tr>
					<td class="accountTitle">email</td>
					<td class="infoDetail">{{user.email}}</td>
				</tr>
				<tr>
					<td class="accountTitle">password</td>
					<td><button type="button" class="btn btn-primary" id="changePassword">Change</button></td>
				</tr>
				<tr id="newPassword">
					<td class="accountTitle">new password</td>
					<td class="infoDetail password" id="inputnewPassword" style="-webkit-text-security: disc;"></td>
					<td><div class="tinyBTN" id="savePassword">Save</div>
					<div class="tinyBTN" id="cancelPassword">Cancel</div></td>
				</tr>
			</table>

			<div class="form-group">
				<div id="myList" class="block">
					<h4 class="title">My streaming service:</h4>
					<label class="checkbox-inline"><input type="checkbox" id="Amazon" value="Amazon" onclick="streamingData(0)" {% if amazon %}checked{% endif %}>Amazon</label>
					<label class="checkbox-inline"><input type="checkbox" id="AmazonPrime" value="AmazonPrime" onclick="streamingData(1)" {% if amazonPrime %}checked{% endif %}>Amazon Prime</label>
					<label class="checkbox-inline"><input type="checkbox" id="Netflix" value="Netflix" onclick="streamingData(2)"{% if netflix %}checked{% endif %}>Netflix</label>
					<label class="checkbox-inline"><input type="checkbox" id="Hulu" value="Hulu" onclick="streamingData(3)"{% if hulu %}checked{% endif %}>Hulu</label>
					<label class="checkbox-inline"><input type="checkbox" id="iTunes" value="iTunes" onclick="streamingData(4)"{% if itunes %}checked{% endif %}>iTunes</label>
					<label class="checkbox-inline"><input type="checkbox" id="GooglePlay" value="GooglePlay" onclick="streamingData(5)" {% if googlePlay %}checked{% endif %}>Google Play</label>
				</div>
			</div>

			<div id="myList" class="block">
				<h4 class="title">My Watch List</h4>
				<ul>
					{% for movie in favorites %}
						<li><a class="faves" href="{{movie.imdb}}" target="blank">{{movie.title}}</a><div class="delete"></div></li>
					{% endfor %}
					<!--
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">big hero 6</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">the imitation game</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">star trek</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">fight club</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">little miss sunshine</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">jurassic park</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">saw i</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">nebraska</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">inside llewyn davis</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">once</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">juno</a><div class="delete"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">mary and max</a><div class="delete"></div></li>
					-->
				</ul>
			</div>

			<div id="recom" class="block">
				<h4 class="title">Recommendations</h4>
				<ul>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">deal pool</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">ghost in the shell</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">star trek</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">iron man</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">the theory of everything</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">jurassic park</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">transcendence</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">the lobster</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">star trek: beyond</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">zootopia</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">the martian</a><div class="add"></div></li>
					<li><a href="http://www.imdb.com/title/tt2245084/" target="blank">mad max: fury road</a><div class="add"></div></li>
				</ul>
			</div>
			<td><a href="/tbd"><div class="tinyBTN" style="margin:auto" >Save</div></a></td>
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccount" id="deleteAccount">Delete</button>
			<div class="modal fade" id="thisModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="deleteAccountLabel">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Are you sure you want to delete your account?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
							<button type="button" class="btn btn-danger">Yes</button>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>

	<script>
		$("#newPassword").hide();

		$("#changePassword").click(function(){
			$("#currentPassword").prop("contenteditable","true");
			$("#inputnewPassword").prop("contenteditable","true");
			$('#currentPassword').focus();
			$('#currentPassword').empty();
			$('#inputnewPassword').empty();
			$("#currentPassword").css({"border":"1px solid #071F37","border-radius":"6px"});
			$(this).hide();
			$("#newPassword").show();
			$("#newPassword").click(function(){
				//validate old password
			})
			$("#inputnewPassword").css({"border":"1px solid #071F37","border-radius":"6px"});
			$("#cancelPassword").css({"border":"1px solid #419BF9","color":"#419BF9","background-color":"#fff"});
		});

		$("#savePassword").click(function(){
			password=$("#inputnewPassword").text();
			$("#currentPassword").prop("contenteditable","false");
			$("#currentPassword").css({"border":"none"});
			$("#changePassword").show();
			$("#newPassword").hide();
			$("#currentPassword").text(password);
			//update password in bac-kend
		});

	$("#cancelPassword").click(function(){
		$("#currentPassword").prop("contenteditable","false");
		$("#currentPassword").css({"border":"none"});
		$("#changePassword").show();
		$("#newPassword").hide();
		$("#currentPassword").text(password);
	});

    $("#myList").on("click",".delete",function(){
        $(this).parent().remove();
    });

	$(".add").click(function(){
		$(this).parent().append("<div class='delete'></div>");
		$(this).parent().appendTo('#myList>ul');
		$(this).parent().find(".add").remove();
		$('#myList>ul').scrollTop($('#myList>ul')[0].scrollHeight);
	});

	$(".checkbox>div").click(function(){
		$(this).toggleClass('selected');
	})


	</script>

</html>
