{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
        <title>DELPHI | Sign Up</title>
    </head>

    <body>
        {% include "navigation.html" %}
        
        <div class="container">
            <h2 class="form-signin-heading">Welcome Newbee!</h2>
            {{error}}
            <form class="form-signin" action="/tbd/signup/" method="post">{% csrf_token %}
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
                <input type="password" id="inputPass" name="inputPass" class="form-control" placeholder="Confirm Password" required>
                <div class="col-md-12"><button class="btn btn-primary" type="submit">sign up</button></div>
            </form>

        </div>
    </body>
</html>